# This file is used to define your variables for the prox-scheduler environment

# Scheduler Options - See Documentation before tweaking!
SCH_MEM_OP_RATIO=1.00
SCH_CPU_OP_RATIO=1.50
# Weights for reserved resources
SCH_CPU_PROV_WEIGHT=0.10
SCH_MEM_PROV_WEIGHT=0.30
# Weights for real resource utilization
SCH_REAL_CPU_WEIGHT=0.90
SCH_REAL_MEM_WEIGHT=0.70
# The items below are hard caps. Set to "0" to disable
SCH_MAX_INFLIGHT_ON_NODE=4
SCH_MAX_VMS_ON_NODE=40

# Proxmox Env Settings
PROXMOX_IP=10.0.0.2
PROXMOX_USER=ProxScheduler@pve
PROXMOX_PASS=MyAPIUserPassGoesHere
PROXMOX_DEF_TEMPLATE_ID=2000
# Set below to "None" to use same storage as template
PROXMOX_DEFAULT_STORAGE=None

# Database
DB_ROOT_PW=root

# Frontend
FE_DEBUG=true
FE_WORKERS=4

# Backend
BE_DEBUG=true
BE_SSH_USER=root
BE_SSH_PORT=22
BE_WORKERS=2
BE_MAX_TASKS=6

# Misc Settings (No need to change)
BUILD_STORAGE_PATH=/mnt/builds

# Generated Settings - DO NOT CHANGE BELOW THIS LINE!
GIT_HASH=#GITHASH#
DB_OUR_USER=#MYSQLUSER#
DB_OUR_PASS=#MYSQLPASS#
