# This file is used to define your variables for the prox-scheduler environment

# Scheduler Options
SCH_OP_RATIO=0.800
SCH_TYPE=realmem
SCH_DEF_TEMPLATE_ID=2000

# Proxmox Env Settings
PROXMOX_IP=10.0.0.2
PROXMOX_USER=ProxScheduler@pve
PROXMOX_PASS=MyAPIUserPassGoesHere
# Set below to "None" to use same storage as template
PROXMOX_DEFAULT_STORAGE=None

# Database
DB_ROOT_PW=root

# Frontend
FE_DEBUG=true
FE_WORKERS=4

# Backend
BE_DEBUG=true
BE_SSH_USER=root
BE_SSH_PORT=22
BE_WORKERS=2
BE_MAX_TASKS=6

# Misc Settings (No need to change)
BUILD_STORAGE_PATH=/mnt/builds

# Generated Settings - DO NOT CHANGE BELOW THIS LINE!
GIT_HASH=#GITHASH#
DB_OUR_USER=#MYSQLUSER#
DB_OUR_PASS=#MYSQLPASS#
