#!/usr/bin/env python3
#
import string
import random

# Settings for our API endpoint
url="http://api.site.com:5000/api/v2.0/instances"
user="apiuser"
passwd="apipass"

# Userdata we want to send to prox-prevision
userdata="""#!/bin/bash
echo "{PSCHED-SSH-KEY}" >> /root/.ssh/authorized_keys
apt-get update
apt-get dist-upgrade -y
apt-get install -y apt-transport-https ca-certificates
apt-key adv --keyserver hkp://p80.pool.sks-keyservers.net:80 --recv-keys 58118E89F3A912897C070ADBF76221572C52609D
echo "deb https://apt.dockerproject.org/repo debian-jessie main" > /etc/apt/sources.list.d/docker.list
apt-get update
apt-get install -y docker-engine
systemctl enable docker
systemctl start docker
"""

# Build our JSON call. This does a 4 core, 4GB memory, and 40GB disk.
dataz = {
    "hostname": "Docker-Host1",
    "cpu": 4,
    "memory": 4096,
    "disk": 40,
    "userdata": userdata
}
